body{
    margin: 0px;
    padding: 0px;
    background-color: #f9d352;
    background-size: 100% 100%;
}

#main2,#signUpForm{
    height: 400px;
    width: 400px;
    background-color: white;
    /* box-shadow: 0 0 0 30px rgba(255,255,255,.2); */
    border-radius: 5%;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(0deg);
}

#main2 input[type=text] {
    margin-top: 120px;
}

#signUpForm input[type=text] {
    margin-top: 90px;/*120*/
}

table{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#title{
    font-family: calibri;
    font-size: 50px;
    color: #473104;
    text-align: center;
    margin-bottom: 7px;
}

input[type=text],input[type=password],input[type=email]{
    height: 5px;
    font-family: sans-serif;
    font-size: 12px;
    outline: none;
    padding: 20px;
    color: #473104;
    /*background: none;*/
    display: block;
    margin: 19px auto;
    text-align: center; 
    border: 2px solid #3498db;
    width: 200px;
    border-radius: 24px;
    transition: 0.01s; 
}

input[type = "text"]:focus, input[type = "password"]:focus {
    width: 280px;
    color: #473104;
    border-color: #19bb34d8;
}

input[type = "text"]:hover, input[type = "password"]:hover {
    /* background: #04fb2da2;  */
    border: 2px solid #19bb34d8;
    transition: 1s;
    cursor: pointer;    
}

#signInBtn,#signUpBtn{
    height: 35px;
    width: 150px;
    font-family: calibri;
    font-size: 14px;
    font-weight: 600;
    color: #473104;
    line-height: 0px;
    /* outline: none; */
    padding: 20px;

        /*background: none;*/
        display: block;
        margin: 10px auto; 
        text-align: center;
        border: 2px solid #f9d352;
       
        background-color: white;
        border-radius: 24px;
        transition: 1s;
        cursor: pointer;    
}

#signInBtn {
    margin-left: -10px;
    margin-top: 257px;
}

#signUpBtn {
    margin-left: -10px;
    margin-top: 285px;
}

#signInBtn:hover, #signUpBtn:hover {
    background: #f9d352;  
}

#signUpMsg{
    margin-top: 93px;
    margin-left: 110px;
    font-family: calibri;
    font-size: 14px;
    color: #473104;
}

#signInMsg {
    margin-top: 83px;
    margin-left: 125px;
    font-family: calibri;
    font-size: 14px;
    color: #473104;
}

a {
    font-family: calibri;
    margin-top: 3px;
    font-size: 14px;
    color: #473104;
}

#frt {
    display: inline-block;
    position: fixed;
    margin-top: -26px;
    margin-left: 200px;
    width: 350px;
    padding: 5px;
}

#main2{
    -webkit-backface-visibility:hidden;
    -webkit-animation-duration:2s;
}
#signUpForm{
    -webkit-backface-visibility:hidden;
    -webkit-transform:translate(-50%,-50%) rotateY(180deg);
    -webkit-animation-duration:2s;
}

@-webkit-keyframes showSignUp{
    0%{transform: translate(-50%,-50%) rotateY(0deg);}
    100%{transform: translate(-50%,-50%) rotateY(180deg);}
}
@-webkit-keyframes hideSignIn{
    0%{transform: translate(-50%,-50%) rotateY(180deg);}
    100%{transform: translate(-50%,-50%) rotateY(0deg);}
}
@-webkit-keyframes showSignIn{
    0%{transform: translate(-50%,-50%) rotateY(0deg);}
    100%{transform: translate(-50%,-50%) rotateY(180deg);}
}
@-webkit-keyframes hideSignUp{
    0%{transform: translate(-50%,-50%) rotateY(180deg);}
    100%{transform: translate(-50%,-50%) rotateY(0deg);}
}

.infoForm {
    color: #473104;
}

.error, #all_messages {
    color: red;
    font-size: 18px;
}